#miniCalContainer {
    display: grid;
    margin: 0 8% auto 0;
}

#miniCal {
    background-color:white;
    border: 1px solid white;
    border-radius: 2vw;
    box-shadow: 0 3px 15px #D3D3D3;
    user-select: none;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    position: fixed;
}

#calHeader {
    padding-bottom: 3%;
    font-size: 1.56vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #3FD548;
    user-select: none;
}

#calHeader > button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.56vw;
    color: #93E261;
    transition: 0.5s;
}

#calHeader > button:hover {
    color: #78B74E;
    transform: scale(1.6);
    transition: transform 0.3s;
    cursor: pointer;
}

#calDaysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1;
    padding-bottom: 1%;
    font-size: 1.25vw;
    font-family: 'Roboto', sans-serif;
    color: #777777;
}

#calDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#calDays > button {
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    transition: 0.4s;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
}

.dayButton {
    color: #68C678;
    font-weight: bold;
    background-color: white;
    font-size: 1.5vw;
}

.dayButton:hover {
    background-color: ABF989;
    color: 007F0E;
    transform: scale(1.25);
    transition: transform 0.1s;
    cursor: pointer;
}

.otherMonthButton {
    font-weight: lighter;
    color: DBDBDB;
    background-color: white;
    font-size: 1.5vw;
}


#eventList {
    margin-left: 4vw;
    user-select: none;
}

.eventTemplate {
    padding: 1% 1% 1% 2%;
    background-color: red;
    background-color: white;
    border: 1px solid white;
    border-radius: 2vh;
    box-shadow: 0 3px 15px #D3D3D3;
    margin-bottom: 1%;
}

.previewEvent {
    color: #68C678;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
}

.pEventDate {
    font-family: sans-serif;
    margin-right: 0.5%;
    font-weight: bold;
    font-size: 1.3vw;
}

.pEventName {
    font-family: 'Roboto', sans-serif;
    color: 3FD548;
}

.pEventStatus {
    background-color: #93DB70;
    color: white;
    font-size: 1vw;
    margin-left: auto;
    padding: 1.3%;
    border: 0.3vh solid #86C67C;
    border-radius: 2vh;
    font-family: sans-serif;
    font-style: italic;
    visibility: hidden;
    position: relative;
}

.eventInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: sans-serif;
    padding-bottom: 1.3%;
}

.eWarning {
    grid-column: 1;
    margin-bottom: 2%;
    margin-top: 1.5%;
}

.eWarningLabel {
    color: FF6666;
    font-size: 1vw;
    background-color: white;
    border: .25vh solid #FF6666;
    border-radius: 90px;
    padding: 0.5% 1.5% 0.5% 1%;
    font-family: 'Roboto', sans-serif;
}

.eWarningLabel:before {
  border: 1px solid FF6666;
  background-color: FF6666;
  color: white;
  border-radius: 50%;
  content: '!';
  height: 2vh;
  width: 2vh;
  margin-right: 1%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.eExtraDates {
    grid-column: 1;
    color: #898989;
    font-size: 1.25vw;
    font-family: 'Roboto', sans-serif;
}

.eTimes {
    grid-column: 1;
    color: 686868;
    font-size: 1.25vw;
    color: #898989;
}

.eRoom {
    grid-column: 1;
    color: 686868;
    font-size: 1vw;
}

.eDescHeading {
    grid-row: 1;
    grid-column: 2;
    color: gray;
    font-size: 1vw;
    font-family: sans-serif;
    border-bottom: 2px solid gray;
    display: flex;
    align-items: flex-end;
    font-style: italic;
    font-weight: bold;
}

.eDesc {
    grid-column: 2;
    color: #898989;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    float: right;
    margin-left: auto;
}
