body {}

.schoolOptions {
    color: white;
    font-size: 45px;
    font-family: "Trebuchet MS";
    text-align: center;
    padding-top: 15%;
    user-select: none;
}

#knolls {
    display: inline-block;
    padding: 3% 0 3% 0;
    background-color: #228B22;
    width: 25%;
    border: 0px solid #006400;
    border-radius: 35px;
    box-shadow: 0 0 8px black;
    box-shadow: 0 2px 8px black;
    transition-duration: 0.2s;
}

#knolls:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 15px black;
}

#hills {
    display: inline-block;
    padding: 3% 0 3% 0;
    background-color: #B22222;
    width: 25%;
    border: 0px solid #800000;
    border-radius: 35px;
    box-shadow: 0 0 8px black;
    box-shadow: 0 2px 8px black;
    transition-duration: 0.2s;
}

#hills:hover {
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 15px black;
}

#eagle {
    background-image: url("https://i.imgur.com/SdbQpOg.png");
    background-repeat: no-repeat;
}
